.top-bar {
	background-color: #f16320;
	padding: 5px;
}

.social-icons {

	font-size:10px;
	color: white;
	padding: 5px;
	margin-right: 5px
}

.contact_info {
	color: white;
	font-size: 20px;
	padding-top: 4px
}

.my-menu {margin-top: 90px;
	font-size: 15px;

}


.my-menu .navbar-nav .active a{
	background: #f16320;
	color: white;
}

.my-menu .navbar-nav li a:hover {
	background-color: #f16320;
	color: #fff;
}


.para {
	margin-top: 10px;
}

.top-mar {
	margin-top: 25px;
}
.courses {background: radial-gradient(circle,#a9d6f1,#002153);
	padding-top: 10px;
	color: white;
	font-weight: 200px;

}
.courses .top_mar {
	margin-top: 30px;
	margin-bottom: 10px;

}

.team {
	color: black;
	margin-top: 25px;
}

@media (max-width: 1200px) {
	.my-menu .pull-right{float: none !important}
}

@media (max-width: 600px) {
	.courses [class*="col-"]{
		margin-bottom: 20px;
	}
}

@media (max-width: 600px){
	.team [class*="col-"]{
		margin-bottom: 25px;
	}
}

.con {
	font-size: 18px;
}

.footer {
	background-color: #333333;
	color: white

}
.footer .container {
	padding-top: 25px;
}
.footer .container p {
	padding-top: 15px;
}

.footer ul {list-style-type: none;
	margin: 0;
padding: 0}